<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ .Title }}</title>

		<link rel="stylesheet" href="/js/dist/reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="/js/dist/reveal.js/dist/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">

		{{ partial "header/custom.html" . }}
	</head>
	<body>
		<header style="position: fixed; top: 10px; left: 10px; z-index: 1000;"><a href="/" style="color: aliceblue !important;" id="return-home-button">Return Home</a></header>
		<div class="reveal">
			<div class="slides">
				<section data-markdown="{{ with .OutputFormats.Get "revealmarkdown" }}{{ .Permalink }}{{ end }}" data-separator="^\*\*\*" data-separator-vertical="^\*\*" data-seperator-notes="^Note:" data-noescape>
				</section>
			</div>
		</div>
		{{ with .Params.bottomtext }}
		<div class="bottomtext" style="position: fixed; bottom: 10px; left: 10px; z-index: 1000; color: white;">{{ . }}</div>
		{{ end }}
		<script src="/js/dist/reveal.js/dist/reveal.js"></script>
		<script src="/js/dist/reveal.js/plugins/markdown/markdown.js"></script>
		<script src="/js/dist/reveal.js/plugins/highlight/highlight.js"></script>
		<script src="/js/dist/reveal.js/plugins/zoom/zoom.js"></script>
		<script src="/js/dist/reveal.js/plugins/notes/notes.js"></script>
		<script src="/js/dist/reveal.js/plugins/search/search.js"></script>
		<script>
			Reveal.initialize({
				hash: true,
				controls: true,
				controlsLayout: 'bottom-right',
				progress: true,
				embedded: false,
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealZoom, RevealSearch ],
				slideNumber: function (slide) {
                     let indices = Reveal.getIndices(slide);
                     return [ indices.h + "." + (indices.v || 0) + " " + (Reveal.getProgress()* 100).toFixed(0).padStart(2, '0') + "%"];
                 },
			});
			if ((new URL(window.location)).searchParams.has("print-pdf")) {
				document.getElementById("return-home-button").style.visibility = "hidden";
			}
		</script>
	</body>
</html>
