<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    {{ partial "sidebar/about.html" . }}
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle">
        {{ with .Site.Params.logoimage }}
          {{ $strippedSlash := ($.Site.Params.logoimage | replaceRE "^(/)+(.*)" "$2") }}
          {{ $logoImage := (printf "%s%s" $.Site.BaseURL $strippedSlash) }}
          <img src="{{$logoImage}}" alt="{{ $.Site.Title }}" class="element--center logo-image">
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </label>
      <div class="menu-content">
        {{ partial "sidebar/menu.html" . }}
        {{ partial "sidebar/social.html" . }}
      </div>
    </div>
    {{ partial "sidebar/copyright.html" . }}
  </div>
</div>
